
* {
    font-family : "Comic Sans MS", serif;
    font-size   : 15px;
    margin      : 0;
    padding     : 0;
    box-sizing  : border-box;
}

html, body, #root {
    width  : 100%;
    height : 100%;
    margin : 0
}


input, select, img, textarea {
    display : block;
}

.comment {
    margin        : auto;
    max-height    : 200%;
    border        : 2px solid black;
    border-radius : 10px;
    width         : 55%;
    padding       : 10px;
    margin-top    : 10px;
    margin-bottom : 20px;
}

.name {
    text-align  : right;
    padding-top : 30px;
    font-style  : italic;
    font-weight : bold;
}

.comment-header {
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
}

.buttons {
    margin-top : 5px;
}

.user-identity {
    display         : flex;
    justify-content : flex-end;
}

.avatar {
    align-self    : flex-end;
    width         : 40px;
    height        : 40px;
    border        : 1px solid black;
    margin-right  : 5px;
    margin-bottom : 5px;
    border-radius : 20px;
}


.comment-wrapper {
    margin-top      : 1rem;
    margin-bottom   : 1rem;
    right           : 0;
    width           : 45%;
    height          : 100%;
    overflow-y      : scroll;
    background      : transparent;
    justify-content : center;
    margin-left     : 2em;
    list-style      : none;
}

.form {
    width          : 30%;
    height         : 330px;
    display        : flex;
    flex-direction : column;
    gap            : 10px;
    background     : transparent;
    border         : 2px solid black;
    border-radius  : 10px;
    padding        : 1rem;
    margin-top     : 1rem;
    margin-left    : 10em;
}

.wrapper {
    background      : linear-gradient( #faf7fa, rgba(223, 52, 229, 0.349));
    width           : 100%;
    height          : 100%;
    display         : flex;
    flex-direction  : row;
    align-items     : center;
    justify-content : space-between;
}

.message {
    margin-top    : 10px;
    padding       : 1rem;
    border        : 2px solid transparent;
    box-shadow    : 0 0 10px rgba(0, 5, 0, 0.5);
    border-radius : 10px;
    word-break    : break-word;
    margin-bottom : 10px;
}

.formImg {
    height : 50px;
    width  : 70px;
}

.formImg:hover {
    cursor : pointer;
}

.comment-even {
    margin-left : 10px;
}

.comment-odd {
    margin-right : 10px;
}