*{
    border-collapse: collapse;
    box-sizing: border-box;
}
table{
    margin: 2em;
    border: 2px solid black;

}
th,td{
    max-width: 287px;
    padding : 1em;
    text-align: left;
    border: 1px solid grey;
}
tr{
    height: 40px;
}
th{
    border-bottom: 2px solid black;
}
td{
    border-bottom : 1px solid rgba(109, 107, 104, 0.21);
}
th span{
    background-color: rgba(109, 107, 104, 0.21);
}

.less_than_3{
    background-color: yellow;
}
.equal_to_0{
    background-color: red;
}