.NotCurrentMounthDate{
    opacity: 0.2;

}
.selectedDate{
   background-color: #B6CDF0;
}

.selectedNoteDay{
    background-color: yellow;
}

.todayDate
{
    background-color: rgba(185, 186, 193,1);
}