*{
    font-family : Calibri, serif;
    box-sizing: border-box;
}

body {
    font-size: 18px;
}
td {
    border: 0;  padding: 0;
    height: 30px;
    width: 30px;
    text-align: center;
    cursor: default;
}
table {
    padding: 0;
    margin : 0;
    border: 1px solid;
    border-collapse: collapse;
}
thead td {
    background: rgba(185, 186, 193, 0.59);
}